<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" media = "screen" href = "{% static 'navbar.css'%}">
    <link rel="icon" type="image/png" href="../media/images/mainicon.png" />
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}  

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}


    {% endblock content %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var mobileMenuIcon = document.querySelector('.mobile-menu-icon');
        var mobileMenu = document.querySelector('.mobile-menu');

        mobileMenuIcon.addEventListener('click', function () {
            mobileMenu.classList.toggle('show');
        });
    });
</script>


</body>

</html>