

.c_pass{
    width: 60vh;
    height: fit-content;
    padding: 5vh;
    background-color: #FEE2E2;
    border-radius: 1vh;
    margin: auto;
    box-shadow: 0px 0px 20vh rgba(0, 0, 0, 0.603);
}

.c_pass h4{
    margin: 0;
    font-size: 2.5vh;
}

.c_pass h5{
    margin: 0;
    font-size: 2.5vh;
    text-align: center;
    color: #656565;
    margin-bottom: 6vh;
}

.c_email{
    padding: 2vh;
    font-size: 2.5vh;
    border-radius: 3vh;
    border-width: 0.1vh;
    width: 60vh;
    border-style: solid;
    border-color: #B7202E;
    margin-bottom: 1vh;
}

        
.c_email:hover{
    outline: none;
    border-color: #B7202E;
    box-shadow: 0 0 0.5vh #B7202E;
}

.c_send_mail{
    background-color: #B7202E;
    color: white;
    padding: 1vh;
    border-radius: 2vh;
    border-width: 0.2vh;
    width: 60vh;
    height: 7vh;
    font-size: 2.5vh;   
    margin-top: 5vh;
}

.c_send_mail:hover{
    background-color: #821925;
}

.back_to_login{
    text-decoration: none;
    margin-left: 40vh;
    font-size: 2.5vh;
    color: black;
}

.back_to_login:hover{
    text-decoration: underline;
}

body{
    background-image: url("../media/images/loggedout.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.messages {
        position: fixed;
        z-index: 9999;
        border-radius: 1vh;
        padding: 1vh;
        font-size: 2.5vh;
        border-style: solid;
        border-width: 0.2vh;
        width: 60vh;
        height: 6vh;
        text-align: center;
        background-color: #d4e3f4;
        opacity: 0.9;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        animation: fadeOut 3s ease-out forwards;
        box-shadow: 0px 0px 0.8vh rgba(0, 0, 0, 0.603);
    }

    @keyframes fadeOut {
        0% {
            opacity: 0.7;
        }
        90% {
            opacity: 0.7;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
