{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
    <title>Add Committee</title>
    <link rel="stylesheet" href="{% static 'add_committee.css' %}">
</head>


<div class="content">
    <h1 style = "font-size: 6vh; text-align: center; margin-top: 15vh; margin-bottom: 5vh;">Add Committee</h1>
    <div class = "add_committee_main">
    <div class="form-wrapper">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="field-container">
                <div>
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    <p class="error-message">{{ form.name.errors }}</p>
                </div>
                <div>
                    {{ form.level.label_tag }}
                    {{ form.level }}
                    <p class="error-message">{{ form.level.errors }}</p>
                </div>
            </div>
            <div class="field-container">
                <div>
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    <p class="error-message">{{ form.description.errors }}</p>
                </div>
                <div>
                    {{ form.goal.label_tag }}
                    {{ form.goal }}
                    <p class="error-message">{{ form.goal.errors }}</p>
                </div>
            </div>
            <div class="field-container">
                <div>
                    {{ form.objective.label_tag }}
                    {{ form.objective }}
                    <p class="error-message">{{ form.objective.errors }}</p>
                </div>
                <div>
                    {{ form.convener.label_tag }}
                    {{ form.convener }}
                    <p class="error-message">{{ form.convener.errors }}</p>
                </div>
            </div>
            <div class="field-container">
                <div>
                    <p class="error-message">{{ form.members.errors }}</p>
                    {{ form.members.label_tag }}
                    <span class="dropdown-arrow" onclick="toggleDropdown1()">&#9662;</span>
                    <div id="myDropdown1" class="dropdown-content">
                    {{ form.members }}
                    </div>
                </div>
                <div>
                    <p class="error-message">{{ form.staff.errors }}</p>
                    {{ form.staff.label_tag }}
                    <span class="dropdown-arrow" onclick="toggleDropdown2()">&#9662;</span>
                    <div id="myDropdown2" class="dropdown-content">
                    {{ form.staff }}
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <input type = "submit" value = "Add Committee" style = "margin-top: 10vh;">
            </div>
        </form>
    </div>
</div>
</div>
<script>
    function toggleDropdown1() {
      var dropdownContent = document.getElementById("myDropdown1");
     dropdownContent.classList.toggle("show"); 
    }
    function toggleDropdown2() {
      var dropdownContent = document.getElementById("myDropdown2");
      dropdownContent.classList.toggle("show"); }
  </script>
{% endblock %}