{% extends 'main.html' %}
{% load static %}

{% block content %}
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'change_password_loggedin.css' %}">
</head>

<div class = "content">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

<h1 style = "text-align: center; font-size: 6vh; margin-top: 23vh; margin-bottom: 3vh;">Change Password</h1>

<form method = "POST">

    {% csrf_token %}
    
    <div class = "c_pass">
    <input type = "hidden" name = "user_id" value="{{ user_id }}">
    
    <h4>New Password</h4>
    <input type = "password" name = "password1" class = "c_email">
    <h4 style = "margin-top: 5vh;">Confirm Password</h4>
    <input type = "password" name = "password2" class = "c_email">
    {% if user.is_authenticated %}
    <a href = "{% url 'home' %}" class = "back_to_login"><- Back to Home</a>
    {% else %}
    <a href = "{% url 'login' %}" class = "back_to_login"><- Back to Login</a>
    {% endif %}


    <input type = "submit" class = "c_send_mail">

    </div>

</form>

</div>

{% endblock %}