{% extends 'main.html' %}
{% load static %}
{% block content %}

<head>
    <title>Committees</title>
    <link rel="stylesheet" href="{% static 'committees_list.css' %}">
</head>

<body>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
<div class = "content">
<div class = "list">
<h1>Committees List</h1>

<form method = "GET" action = "" class = "searchbardiv">
    <input type = "test" name = "q" placeholder = "Search committee... " class = "searchbar"/>
</form>

    <hr>
    <div class = "topic">
        <h2>Name</h2>
        <h2 style = "margin-left: 49vh;">Convener</h2>
        <h2 style = "margin-left: 29vh;">Level</h2>
    </div>

{% for committee in selected_committees %}
    <hr>
    <div class = "committees">
            <div class = "name">
                <h5><a href = "{% url 'committee' committee.id %}" class = "link_committee">
                    {{committee.name}}
                </a></h5>
            </div>

            <div class = "convener">
                <a href = "{% url 'profile' committee.convener.id %}" class = "convener_name">{{committee.convener.pname}}
                </a>
            </div>
            
            <div class = "level">
                <h5>{{committee.level}}</h5>
            </div>
    </div>

{% endfor %}

    <hr>
</div>

{% if request.user.is_superuser %}
    <div class = "add_button">
        <a href = "{% url 'create_committee' %}">
            <input type = button value = 'Add Committee' class = "add_committees">
        </a>
    </div>
{% endif %}

</div>
</body>

{% endblock %}