{% extends 'main.html' %}
{% load static %}

{% block content %}

<html>

    <head>
        
    <title>Committee Details</title>
    <link rel="stylesheet" href="{% static 'comms.css' %}">
    </head>

    <body>

        <div class = "content">
        <h1 class = "committee_topic">{{committee.name}}</h1>

        <div class = "committee_body">

            <div class = "left_committee">
                <h3> Folders </h3>
                {% for item in folders %}
                <hr>
                <h2><a href = "{{item.1}}" class = "folder_link_comms">{{item.0}}</a></h2>
                {% endfor %}
                <hr>
            </div>
            
            <div class = "right_committee">
                <h5>Convener</h5>
                <p>{{committee.convener.pname}}</p>
                <h5>Description</h5>
                <p>{{committee.description}}</p>
                <h5>Goals</h5>
                <p>{{committee.goal}}</p>
                <h5>Objectives</h5>
                <p style = "margin-bottom: 10vh">{{committee.objective}}</p>
            </div>

        </div>
    </div>

    <div class = "committee_page_buttons">
    {% if request.user.id == committee.convener.id or request.user.is_superuser %}
    <div class="edit_button">
        <a href="{% url 'edit_committee' committee.id %}">
            <input type="button" value="Edit Details" class="edit_committees">
        </a>
    </div>
    {% endif %}
        <a href = "/media/files/{{committee}}/"><button class = "redirect_folder_comms">Show folder</button></a>
    </div>

    </body>

</html>

{% endblock %}

