{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
    <title>Delete Files</title>
    <link rel="stylesheet" href="{% static 'delete.css' %}">
</head>
<div class="content">
    <form id="delete-form" method="POST" action="" class = "delete_form">
        {% csrf_token %}
        <p>Are you sure you want to delete</p>
        <p2>"{{ obj }}"?</p2>
        <br>

        <input type = "submit" value="Confirm Deletion" class = "delete_file_confirm" name = "delete_file_confirm">
    </form>

    <button class = "go_back_delete">
        <a href="{{ request.META.HTTP_REFERER }}" style = "font-size: 2.5vh; text-decoration: none; color: #B7202E;">
            Go Back
        </a></button>
</div>

{% endblock content%}
