{% extends 'main.html' %}
{% load static %}
{% block content %}

<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'edit_profile.css' %}">
</head>

<div class = "content">
    
<div class="edit_profile_body">  

<h1 style = "font-size: 6vh; text-align: center; margin-bottom: 3vh; margin-top: 0;">Edit Profile</h1>

<form method = "POST" enctype = "multipart/form-data">

        {% csrf_token %}

        
        <div class="field-container">
            <label for="{{ form.avatar.id_for_label }}">Profile Photo:</label><br>
            {{ form.avatar }}
        </div>
        
        <div class = "full_name">
            <div class="field-container">
                <label for="{{ form.honorific.id_for_label }}">Honorific:</label><br>
                {{ form.honorific }}
            </div>
            <div class="field-container">
                <label for="{{ form.pname.id_for_label }}">Full name:</label><br>
                {{ form.pname }}
            </div>
        </div>

        <div class="field-container">
            <label for="{{ form.number.id_for_label }}">Number:</label><br>
            {{ form.number }}
        </div>
        
        <div class = "row2">
            <div class="field-container">
                <label for="{{ form.department.id_for_label }}">Department:</label><br>
                {{ form.department }}
            </div>
            <div class="field-container">
                <label for="{{ form.position.id_for_label }}">Position:</label><br>
                {{ form.position }}
            </div>
        </div>

        
    <a href = "{{ request.META.HTTP_REFERER }}" class = "cancel_profile_edit"><- Go back to Profile</a>

    
    <div class = "submit_buttons">
    <form method = "POST">
        {% csrf_token %}
        <button type = "submit" name = "Change Password" class = "password_profile_edit">Change Password</button>
    </form>

    <button name = "submit" class = "submit_profile_edit">Confirm</button>

    </div>
    </form>

</div>

{% endblock content %}