{% extends 'main.html' %}
{% load static %}

{% block content %}


<head>
    <title>Edit Committee</title>
    <link rel="stylesheet" href="{% static 'edit_committee.css' %}">
</head>

<div class="content">
    <div class="form-wrapper">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="field-container">
                <div>
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div>
                    {{ form.level.label_tag }}
                    {{ form.level }}
                </div>
            </div>
            <div class="field-container">
                <div>
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
                <div>
                    {{ form.goal.label_tag }}
                    {{ form.goal }}
                </div>
            </div>
            <div class="field-container">
                <div>
                    {{ form.objective.label_tag }}
                    {{ form.objective }}
                </div>
                <div>
                    {{ form.convener.label_tag }}
                    {{ form.convener }}
                </div>
            </div>
            <div class="field-container">
                <div>
                    {{ form.members.label_tag }}
                    {{ form.members }}
                </div>
                <div>
                    {{ form.staff.label_tag }}
                    {{ form.staff }}
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}

