{% load static %}

<head>
    <title>Error</title>
    <style>
        .mainbody{
    transform: translateY(50%);
    text-align: center;
}

body{
    background-color: #FEE2E2;
}
    </style>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="mainbody">
        <img src="../media/images/error.png">
        <h1>Some error occured :(</h1>
    </div>
    
</body>
