{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class = "content">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'file_structure.css' %}">
    <title>Files</title>
  </head>

<body>

      {% if check == '1' %}

        <h1 style = "text-align: center; margin-top: 19vh; font-size: 6vh;">Your committee directories</h1>
        <div class = "committees_directory">
          {% for dir in files %}
            {% if dir in committee_names %}
                <div class = "directory_row">
                  <div class = "directory_row_inner">
                    <a href="{{current_url}}{{dir}}/" class = "dir_links">{{dir}}</a>
                  </div>
                </div>
            {% endif %}
          {% endfor %}
          <hr style = "border-top: 0.2vh solid black;">
        </div>
        
        <form target = "_blank" method = "GET" action = "{% url 'search-files' %}" class = "searchbardiv_directories"> 
          <label class = "searchbar_label">Seach for any file from any of your directories: </label>
          <input type = "test" name = "q" placeholder = "Search... " class = "searchbar_directories"/>
        </form>

    {% else %}


  {% if back_url is not None %}
    <a href = "{{ back_url }}"><button class = "go_back"><img src = "/media/images/go_back.png" class = "go_back_png">
    </button></a>
  {% endif %}

    <div class = "folders_system">

      <h4 class = "folder_title">Folders</h4>
      <hr style = "width: 30vh; margin-left: 5vh; margin-bottom: 2vh;">

        <div class = "folders_list">
          {% if files %}
            {% for dir in files %}
            <div class = "folder_line">
              <a href="{{current_url}}{{dir}}/" class = "folder_link"><img src="/media/images/files.png" class="folder_png"><div class = "folder_name">{{dir}}</a></div>
            </div>
            {% endfor %}
          {% else %}
           <p>No Folders Yet...</p>
          {% endif %}
        </div>

      <hr style = "width: 30vh; margin-left: 5vh; margin-top: 2vh;">
          {% if check2 is not 1 or request.user.is_superuser %}
          <form method = "POST" class = "searchbar_folders">
            {% csrf_token %}
          <div class = "add_folder">
            <input type = "text" id = "folderName" name = "name" class = "add_folder_field" placeholder = "Create new folder">
            <input type = "submit" name = "first_post" value = "Add" class = "add_folder_button">
          </div>
            <input type = "hidden" name = "parent_directory" value = "{{directory}}">
          </form>
          {% endif %}
      </div>

      <div class = "back4"></div>
      <div class = "back5"></div>
      <div class = "back6"></div>
      


    <div class = "searchbardiv_files">   
      {% if check2 is not 1 or request.user.is_superuser %}
      <button data-bs-toggle="modal" data-bs-target="#myModal" class = "add_files_button">Add Files</button>
      {% endif %}
      <form action="{{current_url}}" method="GET">
        <input type="text" name="q" placeholder="Search Files Here.." class = "searchbar_files">
      </form>
    </div>
  
    <div class = "file_display_wrapper">
    </div>

    <div class="committee_name_wrapper">
      <div class="committee_name">
        <p>
          {{cleaned_checker_for_main_file}}
        </p>
      </div>
    </div>

    <div class="number_of_files">
      {% if plural == True %}
        <p>{{ no_of_files }} files</p>
      {% else %}
        <p>{{ no_of_files }} file</p>
      {% endif %}
    </div>
    
    <div class="file_display">
          {% for f in files_context %}
              <div class="file_card {{ f.2 }}">
                  <a href="{{ f.1 }}" class="name_file">{{ f.0.name }}</a>
                  <hr style="border-top: 0.2vh solid black; width: 30vh; margin-left: 5vh; margin-top: 1vh;">
                  <p class="source">Source: {{ f.0 }}</p>
                  {% if check2 is not 1 or request.user.is_superuser %}
                      <a href="{% url 'deletefile' f.0.id|urlencode %}" class="delete_file">Delete file</a>
                  {% endif %}
              </div>
          {% endfor %}
  </div>
  
    
{% if check2 is not 1 or request.user.is_superuser %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 8vh;">
  <div class="modal-dialog modal-dialog-scrollable" style="max-height: 85vh; max-width: 60vh; font-size: 2.5vh;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add file</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" style="width: 80%;">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Enter the File Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="example: guidelines_2023">
            <br>
          </div>

          <div class = "form-group">
            <label for = "keywords">Add keywords <u><i>for ease of search</i></u></label>
            {{form2.keywords}}
          </div>

          <br>

          <div class = "form-group">
            {{form2.file}}
            {{form2.committee}}
          </div>

          <input type = "hidden" name = "directory" value = "{{directory}}">
          
          <div class = "modal-footer">
            <button type = "submit" class = "add_files_confirm" name = "second_post">Add File</button>
            <button type = button" class = "close_popup" data-bs-dismiss = "modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endif %}

</div>

</body>
{% endblock content %}