{% load static %}

<head>
    <title>Forgot Password</title>    
    <link rel="icon" type="image/png" href="../media/images/mainicon.png" />
    <link rel="stylesheet" href="{% static 'forgot_password.css' %}">
</head>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<h1 class="title_fpass">Forgot Password</h1>

<form method = "POST">

    {% csrf_token %}

    <div class = "f_pass">

        <h5>Enter the email address associated with your account and we’ll send you a link to reset your password.</h5>
        <h4>Enter your email:</h4>
        <input type = "text" name = "email" class = "f_email" placeholder = "example@somaiya.edu">
        <a href = "{% url 'login' %}" class = "back_to_login"><- Back to login</a>
        <button type = "submit" class = "f_send_mail">Send</button>

        <p class = "redirect">Don't have an account?<a href="{% url 'register' %}" class = "login_redirect_button">
            Sign up
        </a></p>

    </div>

</form>