{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>  
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <title>CommConnect</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class = "content">
    <div class = "top_image_home">
        <div class = "top_image_home_text">
            <h1>Welcome {{user.pname}}</h1>
            <h3>Find and manage all your documents and directories.</h3>
        </div>
    </div>

<div class="center-container">
    <img src = "../media/images/committee.png" class = "committee_png">
</div>
<h1 class = "your_committees">Your committees</h1>
    <div id = "carouselExampleIndicators" class = "carousel slide">
        <div class = "carousel-indicators">
            {% for committee in committee_list %}
                <button type = "button" data-bs-target = "#carouselExampleIndicators" data-bs-slide-to = "{{ forloop.counter0 }}" {% if forloop.first %} class="active"{% endif %} aria-label = "Slide {{ forloop.counter }}" style = "width: 5vh;">
                </button>
            {% endfor %}
        </div>
              
        <div class = "carousel-inner">
            {% for committee in committee_list %}
            <div class = "carousel-item {% if forloop.first %}active{% endif %}">
                <a href="{% url 'committee' committee.id %}"><h1 class="committee_name_slider">{{ committee }}</h1></a>
                <h4 class = "committee_description_slider">{{committee.description}}</h4>
                
              {% if user == committee.convener %}
              <div class = "position_home">
                <h4>Position:</h4>
                <h1 class = "position_inner">Convener</h1>
              </div>
              {% endif %}

              {% if user in committee.members.all and not user == committee.convener and not user in committee.staff.all %}
              <div class = "position_home">
                <h4>Position:</h4>
                <h1 class = "position_inner">Member</h1>
              </div>
              {% endif %}

              {% if user in committee.staff.all and not user == committee.convener and not user in committee.members.all %}
              <div class = "position_home">
                <h4>Position:</h4>
                <h1 class = "position_inner">Staff</h1>
              </div>
              {% endif %}

                <div class="redirect_folder_wrapper">
                    <a href = "/media/files/{{committee}}/"><button class = "redirect_folder">Show folder</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
              
        <button class = "carousel-control-prev" type = "button" data-bs-target = "#carouselExampleIndicators" data-bs-slide = "prev">
            <img src="../media/images/prev.png" alt="Next">
              <span class = "visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <img src="../media/images/next.png" alt="Next">
            <span class="visually-hidden">Next</span>
        </button>   
    </div>
                 
    <div class = "card1">

        <div class = "leftcard1"></div>

        <div class = "rightcard1">

            <img src = "../media/images/files.png" class = "cards_png">
            <h1>Organized documents</h1>
            <p>Experience hassle-free document retrieval with our meticulously organized file system. Say goodbye to the tedious search through countless emails – our platform ensures quick access to the required documents without any hassle.</p>
            
        </div>
    </div> 

    <div class = "card2">

        <div class = "leftcard2">
            <img src = "../media/images/upload.png" class = "cards_png">
            <h1>Upload and edit</h1>
            <p>Upload, edit, and delete documents for your committees effortlessly. Take control as the convener, managing committee information and ensuring seamless collaboration. Streamline administrative tasks and keep your committee's file library organized.</p>
        </div>
            
        <div class = "rightcard2"></div>
    </div>
      
<div class = "about">
    <h1>About</h1>
    <p>Welcome to our website, dedicated to the document creation and file searching system at KJ Somaiya College of Engineering. Explore our efficient tools for creating documents and quickly searching for files, along with details of our esteemed faculty and committees.</p>
</div>


<h1 class = "contactus_heading">Contact Us</h1>
<div class = "contactus">
    <div class = "leftcontacts">
        <img src = "../media/images/call.png" class = "contact_png"> 
        <p>+91 9757024851</p>
        <p>+91 8169925301</p>
    </div>

    <div class = "rightcontacts">
        <img src = "../media/images/mail.png" class = "contact_png">
        <p>uditi.sinha@somaiya.edu</p>
        <p>priyansh.r@somaiya.edu</p>
    </div>
</div>
</div>
</body>
{% endblock content %}