{% load static %}

<head>

    <title>CommConnect</title>
    <link rel="stylesheet" href="{% static 'login_register.css' %}">
    <link rel="icon" type="image/png" href="../media/images/mainicon.png" />
    <style>

    </style>

</head>

{% if page == 'login' %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method = "POST">

    {% csrf_token %}

    <h1 class = "login_register_heading">Login</h1>
    <div class = "loginmaindiv">

            <label class = "label_login">Email:</label>
            <input type = "text" name = "email" class = "logindetails" placeholder = "example@gmail.com"/>
            
            <label class = "label_login">Password:</label>
            <input type = "password" name = "password" class = "logindetails" placeholder = "password123" style = "margin-bottom: 1vh;"/>

            <a href = "{% url 'forgot_password' %}" class = "forgot_password">Forgot Password?</a>
            <input type="submit" value = "Login" class = "submit_login">

            <p class = "redirect">Don't have an account?<a href="{% url 'register' %}" class = "login_redirect_button">
                Sign up
            </a></p>
            
    </div>  
</form>


{% else %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


    <div class = "login_register_heading">Sign Up</div>
    <form method = "POST">
        
        {% csrf_token %}
        <div class = "registermaindiv">
        <div class = "leftregister"></div>

        <div class = "rightregister">
        <div class="form-wrapper">     
        
        <div class = "full_name">
            <div class="field-container">
                <label for="{{ form.honorific.id_for_label }}">Honorific:</label><br>
                {{ form.honorific }}
                <p class="error-message">{{ form.honorific.errors }}</p>
            </div>
            <div class="field-container">
                <label for="{{ form.pname.id_for_label }}">Full name:</label><br>
                {{ form.pname }}
                <p class="error-message">{{ form.pname.errors }}</p>
            </div>
        </div>

        <div class="field-container">
            <label for="{{ form.email.id_for_label }}">Email:</label><br>
            {{ form.email }}
            <p class="error-message">{{ form.email.errors }}</p>
        </div>
        <div class="field-container">
            <label for="{{ form.number.id_for_label }}">Number:</label><br>
            {{ form.number }}            
            <p class="error-message">{{ form.number.errors }}</p>
        </div>
        
        <div class = "row2">
            <div class="field-container">
                <label for="{{ form.department.id_for_label }}">Department:</label><br>
                {{ form.department }}
            </div>
            <div class="field-container">
                <label for="{{ form.position.id_for_label }}">Position:</label><br>
                {{ form.position }}
            </div>
        </div>

            <div class="field-container">
                <label for="{{ form.username.id_for_label }}">Username:</label><br>
                {{ form.username }}
                <p class="error-message">{{ form.username.errors }}</p>
            </div>

            
            <div class = "password_fields">
            <div class="field-container">
                <label for="{{ form.password1.id_for_label }}">Password:</label><br>
                {{ form.password1 }}
            </div>
            <div class="field-container">
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label><br>
                {{ form.password2 }}
            </div>
            </div>
            <button class="submit_register">Register</button>

            <p class = "redirect_login">Already signed up?<a href = "/" class = "login_redirect_button">
                Log in
            </a></p>

        </div>
    </div>
    </form>
</div>

{% endif %}