{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
  <title>Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>  
  <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>

<body>

  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}
  
<div class = "content">
  <div class="top">
    {% if user.avatar %}
    <img class="profile-picture" src="{{ user.avatar.url }}">
    {% else %}
    <img class="profile-picture" src="../media/images/default_user.jpg">
    {% endif %}

    {% if user.honorific %}
    <h1 class = "name">{{user.honorific}} {{user.pname}}</h1>
    {% else %}
    <h1 class = "name">{{user.pname}}</h1>
    {% endif %}
  </div>

  <div class="details">
    <div class="leftdetails">
      <h4>Department</h4>
      <h6>{{user.department}}</h6>
      <h4>Position</h4>
      <h6>{{user.position}}</h6>
    </div>
    <div class="rightdetails">
      <h4></h4>
      <h6></h6>
      <h4>Email</h4>
      <h6>{{user.email}}</h6> 
      <h4>Number</h4>
      <h6>{{user.number}}</h6>
    </div>

    <div id = "carouselExampleIndicators" class = "carousel slide">
      <div class = "carousel-indicators">
          {% for committee in committees %}
              <button type = "button" data-bs-target = "#carouselExampleIndicators" data-bs-slide-to = "{{ forloop.counter0 }}" {% if forloop.first %} class="active"{% endif %} aria-label = "Slide {{ forloop.counter }}" style = "width: 5vh">
              </button>
          {% endfor %}
      </div>
            
      <div class = "carousel-inner">
          {% for committee in committees %}
          <div class = "carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'committee' committee.id %}"><h1 class = "committee_name_slider">{{committee}}</h1></a>

              {% if user == committee.convener %}
              <div class = "position">
                <h4>Position:</h4>
                <h1 class = "position_inner"> Convener</h1>
              </div>
              {% endif %}

              {% if user in committee.members.all and not user == committee.convener and not user in committee.staff.all %}
              <div class = "position">
                <h4>Position:</h4>
                <h1 class = "position_inner"> Member</h1>
              </div>
              {% endif %}

              {% if user in committee.staff.all and not user == committee.convener and not user in committee.members.all %}
              <div class = "position">
                <h4>Position:</h4>
                <h1 class = "position_inner"> Staff</h1>
              </div>
              {% endif %}

            {% if request.user.id == user.id %}
            <div class="redirect_folder_wrap">
              <a href = "/media/files/{{committee}}/"><button class = "redirect_folder">Show folder</button></a>
            </div>
            {% endif %}
            </div>
          {% endfor %}
      </div>
            
      <button class = "carousel-control-prev" type = "button" data-bs-target = "#carouselExampleIndicators" data-bs-slide = "prev">
        <img src="../media/images/prev.png" alt="Next">
          <span class = "visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <img src="../media/images/next.png" alt="Next">
        <span class="visually-hidden">Next</span>
      </button>      
  </div>
</div>

{% if request.user.id ==  user.id %}
  <a href="{% url 'edit-profile' request.user.id %}" class = "edit_a"><button class = "editprofile">Edit Your Profile</button></a>
{% endif %}
</div>
</body>

{% endblock %}