{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
    <title>Users Authorized</title>
    <link rel="stylesheet" href="{% static 'userlist.css' %}">
</head>

<div class = "content">
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form method = "POST" class = "add_user_form">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
        <button class = "add_user">Add User</button>
    </form>
    <p style = "text-align: center; font-size: 2.5vh; color: rgb(92, 91, 91);">
        Please note that only the following users are authorized to sign up for this website.
        <br>Ensure that the provided email addresses are accurate when adding new users.
    </p>

    <div class = "authorized_users_list">
    <hr>
    {% for user in users %}
    <div class = "user">
        <div class = "user_row">
            <h1>{{user.email}}</h1>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>



</div>
{% endblock %}